.interface-nav{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav-top, .nav-bottom{
    height: 70px;
    width: 100%;
    
    display: flex;
    gap: 5px;

    overflow: hidden;
}

.nav-bouton {
    width: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    box-sizing: border-box;
    
    padding-left: 15px;
    padding-right: 15px;
    
    font-weight: bold;

    background-color: var(--gris2); /* Remplacez par la couleur souhaitée pour le bouton actif */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px inset;

    cursor: pointer;
}

.active {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px inset;
    background: linear-gradient(to bottom, #2D92CC, var(--bleu1));
}

.nav-bouton:hover{
    background-color: rgb(255, 144, 70);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px inset;
}