.interface-grid{
    width: 100%;
    flex: 1;

    display: flex;
    gap: 10px;
}

.interface-grid-item{
    width: 240px;
    height: auto;

    display: flex;
    flex-direction: column;

    border-radius: 5px;
    background-color: var(--blanc1);
    overflow: hidden;
    flex-shrink: 0;
}

.item-name{
    width: 100%;
    height: 38px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bleu1);
    color: var(--blanc1);
}

.item-picture{
    width: 100%;
    height: 160px;
    position: relative;

    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    background: linear-gradient(to bottom, var(--bleu2), var(--bleu3));
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.item-picture-img{
    max-width: 100%;
    margin-top: auto;
}

.item-info{
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;

    color: var(--gris3);
    border-bottom:1px solid rgba(109, 109, 109, 0.1) ;
}

.item-info-set{
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
    padding: 10px;

    color: var(--gris3);
    border-bottom:1px solid rgba(109, 109, 109, 0.1) ;
}

.item-count {
    position: absolute;

    top: 10px;
    right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 25px;
    font-size: 0.8rem;

    background-color: var(--blanc1);
    border: 1px solid var(--gris3);
}

.item-type {
    position: absolute;

    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}